$font-color: #000;
$font-alternative-color: #ecedee;
$accent-color: #ee6c4d;
$background-color: #ffffff;
$background-alternative-color: #3d4451;
$header-color: #002b7a8d;
$header-alternative-color: #2a2e37;
$nav-alternative-color: #793ef9a6;
$footer-color: #002b7a8d;
$footer-alternative-color: #343944;


$header-font: 'Roboto', serif;
$main-font: 'Poppins', serif;