$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #b3feb3;
$background-alternative-color: #e0fbfc;


$header-font: 'Roboto', serif;
$main-font: 'Open Sans', serif;