$font-color: #000;
$font-alternative-color: #ffffffaf;
$accent-color: #ee6c4d;
$background-color: #b3feb3;
$background-alternative-color: #363c3c;


$header-font: 'Roboto', serif;
$main-font: 'Open Sans', serif;